<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boonchai Security - Main</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

        body {
            background-color: #F6F9FE;
            font-family: 'Kanit', sans-serif;
        }

        #door-container,
        #door-status {
            text-align: center;
            padding: 20px;
            margin: 10px;
            /* border: 1px solid #b3b3b3; */
            border-radius: 5px;
            background-color: #ffffff;
        }

        #activity-container {
            padding: 20px;
            margin: 10px;
            border: 1px solid #b3b3b3;
            border-radius: 5px;
            background-color: #ffffff;
        }

        #topic {
            text-align: center;
        }

        hr.rounded {
            border-top: 4px solid #000000;
            border-radius: 2px;
        }

        .card {
            border-radius: 8px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
            margin: 10px;
        }

        .backdrop {
            padding: 20px;
            background-color: #003f66;
            color: #ffffff;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 0 19px 17px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body onload="login_status()">
    <nav class="navbar navbar-expand-lg navbar-dark  backdrop">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://cdn-icons-png.flaticon.com/512/1160/1160312.png"
                    width="40" height="40">&nbsp; Boonchai Security</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tables" id="tables">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">

            <div class="col-md">
                <h1>Welcome: <span id="fname"></span> <span id="lname"></span>&nbsp;<img
                        src="https://cdn-icons-png.flaticon.com/512/219/219986.png" width="40" height="40"></h1>
                <div style="background-color: #444c52; color: white; border-radius: 8px; width: 400px; height: 30px;">
                    <h4>&nbsp;&nbsp;Current Time: <span id="currentTime">&nbsp;&nbsp;</span></h4>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <hr class="rounded">
    </div>

    <div class="container mt-4">
        <div
            style="background: linear-gradient(to right, hsl(203, 100%, 20%), #0074bc); color: white; border-radius: 10px; width: 370px; height: 50px;">
            <h1>&nbsp;Room Management&nbsp;</h1>
        </div><br />
        <div class="row justify-content-center align-items-stretch">

            <div class="col-md-5 card">
                <div id="door-container">
                    <h2><img src="https://icons.veryicon.com/png/o/miscellaneous/admin-dashboard-flat-multicolor/setting-19.png"
                            width="35" height="40">Control Door</h2><br>
                    <button class="btn btn-primary" style="font-size: large;" onclick="showSuccessAlert()">Open
                        Door</button>
                    <button class="btn btn-danger" style="font-size: large;" onclick="showcloseAlert()">Close
                        Door</button>
                </div>
            </div>
            <div class="col-md-5 card">
                <div id="door-status">
                    <h2><img src="https://cdn-icons-png.flaticon.com/512/4785/4785997.png" width="40" height="40">Door
                        Status</h2>
                    <h4><span id="doorStatus" class="text-danger"></span></h4>
                    <h6>Occupied By: <span id="occupiedBy"></span></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div
            style="background: linear-gradient(to right, #003f66, #0074bc); color: white; border-radius: 10px; width: 300px; height: 50px;">
            <h1>&nbsp;Lastest Activity</h1>
        </div><br />
        <div class="row justify-content-center align-items-stretch">
            <div class="col-md-5 card">
                <div id="door-container">

                    <h2><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUGmGx6vSNGJl2x1mk0zgIGNdq5PDucvETav0tTRB8TACQU5PXy7GLm5boc53yIVZP0Vc&usqp=CAU"
                            width="35" height="40">Last Open History</h2>
                    <h4>Last Time: <span id="openTime"></span></h4>
                    <h6>Occupied By: <span id="openBy"></span></h6>
                </div>
            </div>
            <div class="col-md-5 card">
                <div id="door-container">

                    <h2><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDZFxZQJux0D1iYi_4OEFixmm7rlCWHca3SQ&usqp=CAU"
                            width="35" height="40">Last Close History</h2>
                    <h4>Last Time: <span id="closeTime"></span></h4>
                    <h6>Occupied By: <span id="closeBy"></span></h6>
                </div>
            </div>
        </div>

    </div>


    <script>
        // Assume door is initially closed
        var isDoorOpen = false;
        const url = "http://192.168.0.109:5000"

        function showSuccessAlert() {
            Swal.fire({
                title: "Do you want open the door?",
                showCancelButton: true,
                confirmButtonText: "Open",
                confirmButtonColor: "#19b33d",
                icon: "question",
                allowOutsideClick: false
            }).then((result) => {
                console.log(sessionStorage.getItem('uid'));
                if (result.isConfirmed) {
                    fetch(url + '/toggle_door', {
                        method: "POST",
                        body: JSON.stringify({
                            "uid": sessionStorage.getItem('uid'),
                            "state": true
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                        .then(response => {
                            response.json()
                            if (response.status == 200) {
                                Swal.fire("Door Opened!", "", "success");
                            } else {
                                Swal.fire("Error!", "", "error");
                            }
                        })
                        .then(json => {
                            console.log(json)
                        })
                }
            });
        }
        function showcloseAlert() {
            Swal.fire({
                title: "Do you want close the door?",
                showCancelButton: true,
                confirmButtonText: "Close",
                confirmButtonColor: "#d92121",
                icon: "question"
            }).then((result) => {
                console.log(sessionStorage.getItem('uid'));
                if (result.isConfirmed) {
                    fetch(url + '/toggle_door', {
                        method: "POST",
                        body: JSON.stringify({
                            "uid": sessionStorage.getItem('uid'),
                            "state": false
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                        .then(response => {
                            response.json()
                            if (response.status == 200) {
                                Swal.fire("Door Closed!", "", "success");
                            } else {
                                Swal.fire("Error!", "", "error");
                            }
                        })
                        .then(json => {
                            console.log(json)
                        })
                }

                // }
            });
        }

        // Function to open the door
        function openDoor() {
            var doorElement = document.getElementById('door');
            doorElement.textContent = 'Open';
            doorElement.classList.remove('text-danger');
            doorElement.classList.add('text-success');
            isDoorOpen = true;
            console.log('Door opened');
        }

        // Function to close the door
        function closeDoor() {
            var doorElement = document.getElementById('door');
            doorElement.textContent = 'Closed';
            doorElement.classList.remove('text-success');
            doorElement.classList.add('text-danger');
            isDoorOpen = false;
            console.log('Door closed');
        }

        // // Event handlers for the buttons
        // document.getElementById('open-door-btn').addEventListener('click', function () {
        //     if (!isDoorOpen) {
        //         openDoor();
        //     }
        // });

        // document.getElementById('close-door-btn').addEventListener('click', function () {
        //     if (isDoorOpen) {
        //         closeDoor();
        //     }
        // });

        document.getElementById('logout').addEventListener('click', function () {
            sessionStorage.clear();
            window.location.href = "/loginform";
        });

        var fname = sessionStorage.getItem('fname');
        var lname = sessionStorage.getItem('lname');
        document.getElementById('fname').textContent = fname;
        document.getElementById('lname').textContent = lname;

        function getCurrentTime() {
            const currentTime = new Date();
            document.getElementById('currentTime').textContent = currentTime.toLocaleString();
        }

        let get_last = () => {
            let url = "http://192.168.0.109:5000/loglast";
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    console.log(json);
                    if (json.message != 'Internal Server Error') {
                        let entry = json;
                        let open = entry.open;
                        let opened_by = entry.opened_by;
                        let close = entry.close;
                        let close_by = entry.closed_by;
                        document.getElementById("openTime").textContent = open;
                        document.getElementById("openBy").textContent = opened_by;
                        document.getElementById("closeTime").textContent = close;
                        document.getElementById("closeBy").textContent = close_by;
                    } else {
                        console.log("No entries in the JSON array");
                        document.getElementById("openTime").textContent = "No Activity Recorded."
                        document.getElementById("openBy").textContent = "No Activity Recorded."
                        document.getElementById("closeTime").textContent = "No Activity Recorded."
                        document.getElementById("closeBy").textContent = "No Activity Recorded."
                    }
                })
        };

        let doorStatus = () => {
            let url = "http://192.168.0.109:5000/door_status";
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    let entry = json;
                    let status = entry.status;
                    let occupied_by = entry.occupied_by;
                    document.getElementById("doorStatus").textContent = status;
                    document.getElementById("occupiedBy").textContent = occupied_by;
                })
        };

        function login_status() {
            if (sessionStorage.getItem('fname') == null) {
                window.location.href = "/loginform";
            }
            console.log();
        }

        getCurrentTime();
        setInterval(getCurrentTime, 1000);

        get_last();
        doorStatus();

    </script>
</body>

</html>